# Entorno y secretos
.env
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db_dev.sqlite3
staticfiles/
media/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
